<h1>Add A New Photo</h1>
<form action="/create_photo">
  <label for="cap"> Caption </label>
  <input id="cap" type="text" value="da_source">
  <label for="src"> Image URL </label>
    <input id="cap" type="text" value="da_caption">
  <button>Create Photo</button>
</form>
